---
const personalImageAlt = "Brandon";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-orange-500 dark:[&>p>strong]:text-orange-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Brandon y soy creador de contenido y desarrollador web. Me apasiona
      la tecnología, la inteligencia artificial y el diseño. Actualmente estoy
      <strong>desarrollando proyectos web y compartiendo contenido sobre
      tecnología en mi canal de YouTube</strong>.
    </p>

    <p>
      Algunos de mis logros incluyen <strong
        >haber desarrollado una biblioteca digital en Laravel 8</strong> durante mi servicio social,
      así como <strong>crear un portafolio web para destacar mi contenido</strong>.
      Además, tengo experiencia en <strong>configuración de redes LAN y VLAN con Packet Tracer</strong>.
    </p>

    <p>
      Como creador de contenido, <strong>tengo un canal de YouTube llamado
      "Somos Brandon y Rubén TV"</strong>, donde compartimos reviews de tecnología,
      experiencias y análisis de productos. También publicamos contenido en
      <strong>Instagram, TikTok y Facebook</strong> para llegar a más personas
      interesadas en la tecnología.
    </p>
  </div>

  <img width="200" height="200" src="/mee.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
